<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <style>
        a {
            color: aliceblue;
            text-decoration: none;
            text-transform: uppercase;
        }

        .tour {
            display: inline-block;
            background-color: #451952;
            font-size: 27px;
            font-weight: 600px;
            border: 2px solid transparent;
            border-radius: 60px;
            width: 220px;
            cursor: pointer;
            transition: ease 0.30s;
            padding-left: 10px;
        }

        .tour:hover {
            border: 2px solid #451952;
            background-color: transparent;
            transform: scale(1.1);
        }

        .vr-img {
            width: 50px;
            height: 50px;
            margin-left: 10px;
            margin-top: 10px;
        }

        img {
            object-fit: contain;
        }
    </style>
</head>

<body class="location-body">
    <nav>
        <img src="./images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">

        <ul class="navbar">
            <li>
                <a href="/">Home</a>
                <a href="/points">Points</a>
                <a href="/mlocation">Tours</a>
                <a href="/bookings">Bookings</a>
                <a href="/abtmuseum">About</a>                        
            </li>
        </ul>
    </nav>
    <section class="location-section">
        <div class="location-heading">
            <h1>Discover The <span>Beautiful Musume</span></h1>
        </div>
        <div class="location-detail" id="">
            <h1>COINS</h1>
            <p>The collections of the Victoria Memorial Hall hold numerous coins spanning various epochs of Indian
                history, which bear witness to the economic systems and artistic traditions of their times and also
                provide tangible links to the political and cultural landscapes of those times.
                The collection includes coins issued by the East India Company, gold coins issued by Mughal and
                Sultanate rulers, gold coin of Rajendra Vikrama of Nepal, Ramatanka, Padmatanka of Kadambas and numerous
                others.</p>
           
            <div class="location-img">
                <div class="location-content">
                    <img src="images/c1.jpg" alt="" style="height: 300px; width: 300px;">
                    <img src="images/c2.jpg" alt="" style="height: 300px; width: 300px;">
                    <img src="images/c3.jpg" alt="" style="height: 300px; width: 300px;">
                    <img src="images/c4.jpg" alt="" style="height: 300px; width: 300px;">
                </div>
            </div>
        </div>
            <div class="location-detail" id="">
                <h1>ARMS AND ARMORY</h1>
                <p>Arms and armours of Indian rulers as well as British officials are one of the most popular sections
                    of the Victoria Memorial Hall. Lord Curzon had desired to acquire arms and armour from the rulers of
                    the different princely states of India. Swords, spears, shields, decorative daggers, guns etc are on
                    display at the museum. The museum has a rich collection of antique matchlock, flintlock and
                    percussion guns of Indian, Turkish and European origin. Rifles used during the First World War are
                    currently on display in the Prince Hall. Their form, shape, design and ornamentations are
                    fascinating.</p>
                    <div class="location-img">
                        <div class="location-content">
                            <img src="images/a1.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/a2.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/a3.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/a4.jpg" alt="" style="height: 300px; width: 300px;"> 
                        </div>
                    </div>
                </div> 
                <div class="location-detail" id="">
                    <h1>DOCUMENTS</h1>
                    <p>The historical documents preserved within Victoria Memorial Hall constitute a treasure trove of invaluable insights into India’s colonial past. Spanning personal correspondences of colonial administrators, official letters, and copies of treaties and charters, this remarkable collection serves as a testament to the complex tapestry of historical events that shaped the course of Indian history.
                        Each document housed within the museum is a tangible link to the past, offering scholars and visitors alike, a unique opportunity to delve into the intricacies of colonial rule and its impact on Indian society. Whether perusing letters penned by influential figures or studying the minutiae of official agreements, every document holds within it, the echoes of bygone eras, providing invaluable historical context and understanding.</p>
                   
                    <div class="location-img">
                        <div class="location-content">
                            <img src="images/d1.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/d2.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/d3.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/d4.jpg" alt="" style="height: 300px; width: 300px;">
                        </div>
                    </div>
                </div>   
                <div class="location-detail" id="">
                    <h1>WESTERN PAINTINGS</h1>
                    <p>Victoria Memorial Hall holds one of the finest collections of paintings that represent the pinnacle of Western artistic tradition by numerous celebrated painters, on a diverse range of themes and mediums. Among its prized collections are works by distinguished painters such as Tilly Kettle and Johann Zoffany, whose artistry captures varied themes with remarkable finesse. The landscape paintings and engravings by William Hodges and the Daniells, further enrich the artistic treasure trove of Western art, offering captivating vistas and scenes.

                        Noteworthy mentions also include paintings by Emily Eden, James Atkinson, Samuel Davis, William Simpson, Balthazar Solvyns, and Charles D’Oyly, in the vast collection of Victoria Memorial Hall. Each piece contributes to the rich tapestry of artistic expressions, inviting visitors on a captivating journey of Western artistry
                    <div class="location-img">
                        <div class="location-content">
                            <img src="images/wp-1.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/wp-2.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/wp-3.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/wp-4.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/wp-5.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/wp-6.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/wp-7.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/wp-1.png" alt="" style="height: 300px; width: 300px;">
                        </div>
                    </div>
                </div>    
                <div class="location-detail" id="">
                    <h1>INDIAN PAINTINGS</h1>
                    <p>Victoria Memorial Hall showcases an outstanding array of artworks by Indian artists spanning the ages. From the intricate strokes of Mughal miniature paintings and Rajput traditions to the vibrant expressions of modern Indian art, the museum’s collection is a testament to the rich cultural heritage of the subcontinent.

                        Among the esteemed artists featured are Nandalal Bose, Abanindranath Tagore, Gaganendranath Tagore, Asit Halder, Benod Behari Mukherjee, Mukul Dey, Jamini Roy, Sunayani Devi, and many others. Their works reflect a diverse range of styles, techniques and themes, capturing the essence of India’s artistic evolution over the centuries.
                    <div class="location-img">
                        <div class="location-content">
                            <img src="images/ip-1.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/ip-2.jpG" alt="" style="height: 300px; width: 300px;">
                            <img src="images/ip-3.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/ip-4.png" alt="" style="height: 300px; width: 300px;">
                        </div>
                    </div>
                </div> 
                <div class="location-detail" id="">
                    <h1>MANUSCRIPTS</h1>
                    <p>Victoria Memorial Hall proudly houses several volumes of manuscripts in languages such as Sanskrit, Bengali, Arabic and Persian. Among its cherished possessions are notable works like Anwar-i-Suhaili, Khamsa-i-Nizami and Nal-Damayanti, each contributing richly to its diverse archival collection.
                    <div class="location-img">
                        <div class="location-content">
                            <img src="images/m1.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/m2.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/m3.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/m4.jpg" alt="" style="height: 300px; width: 300px;">
                        </div>
                    </div>
                </div> 
                <div class="location-detail" id="">
                    <h1>TEXTTILES</h1>
                    <p> Victoria Memorial Hall houses an exceptional array of textiles, including treasures like Golden brocade chadder, embroidered kantha, Fateh Nishan, Daccai Orna and ‘The Achhkan’, which belonged to the legendary commander and leader of the 1857 Indian Rebellion, Tatya Tope. These artefacts not only exemplify exquisite craftsmanship but also provide poignant connections to historical figures and cultural traditions of their eras.


                        <div class="location-content">
                            <img src="images/t1.png" alt="" style="height: 300px; width: 300px;">
                            <img src="images/t2.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/t3.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/t2.jpg" alt="" style="height: 300px; width: 300px;">
                        </div>
                    </div>
                </div> 
                <div class="location-detail" id="">
                    <h1>MINIATURES</h1>
                    <p>A treasure trove of miniature paintings forms a part of the VMH collection. Each miniature is a marvel in its own right, capturing the essence of its respective style with precision and grace. From the grandeur of Mughal court scenes to the lyrical landscapes of Rajasthan and the ethereal charm of Pahari compositions, these diminutive masterpieces transport viewers to an era of artistic splendour and cultural richness.

                        Delicately rendered in watercolour and intricately crafted on ivory, these miniatures encompass a diverse range of styles, including the opulent Mughal, vibrant Rajasthani, and enchanting Pahari traditions.
                    <div class="location-img">
                        <div class="location-content">
                            <img src="images/mi1.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/mi2.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/mi3.jpg" alt="" style="height: 300px; width: 300px;">
                            <img src="images/mi2.jpg" alt="" style="height: 300px; width: 300px;">
                        </div>
                    </div>
                </div>                     
        </section>
        </div>
       
    
    <!-- Footer -->

    <section class="footer">
        <div class="foot">
            <div class="footer-content">

                <div class="footlinks">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="./register">Register</a></li>
                        <li><a href="./about">About Us</a></li>
                        <li><a href="./contact">Contact Us</a></li>
                    </ul>
                </div>

                <div class="footlinks">
                    <h4>Connect</h4>
                    <div class="social">
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-wordpress'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="end">
            <p>Copyright © 2022 Mr Traveller All Rights Reserved.<br>Website developed by: Mr Devlopers,GIETU</p>
        </div>
    </section>

</body>

</html>