<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <style>
        a{
            color: aliceblue;
            text-decoration: none;
            text-transform:uppercase;
        }
        .tour{
            display: inline-block;
    background-color: #451952;
    font-size: 27px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 60px;
    width: 220px;
    cursor: pointer;
    transition: ease 0.30s;
    padding-left: 10px;
        }
    .tour:hover{
        border: 2px solid #451952;
    background-color: transparent;
    transform: scale(1.1);
    }
    .vr-img{
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
    }
    img{
        object-fit: contain;
    }
    </style>
</head>
<body class="location-body">
    <nav>
        <img src="./images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">

        <ul class="navbar">
            <li>
                <a href="/">Home</a>
                <a href="./#Musume">Musume</a>
                <a href="./#locations">Locations</a>
                <a href="./#package">Packages</a>
                <a href="./about">About Us</a>
                <a href="./contact">Contact Us</a>
            </li>
        </ul>
    </nav>
<section class="location-section">
    <div class="location-heading">
        <h1>Discover The <span>Beautiful Musume</span></h1>
    </div>
 <div class="location-detail" id="">
    <h1>National Musume</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
    </div>
    <p>The National Museum in New Delhi, also known as the National Museum of India, is one of the largest museums in India. Established in 1949, it holds a variety of articles ranging from the pre-historic era to modern works of art. It functions under the Ministry of Culture, Government of India.</p>
    <p>Crowd Percentage: 73%</p>
    <p>Recommaned month:[feb,nov,dec]</p>
    
    <div class="location-img">
        <img src="./images/image 10.jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Victorial">
    <h1>Victorial Memorial </h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>The Victoria Memorial is a large marble monument on the Maidan in Central Kolkata, having its entrance on the Queen's Way. It was built between 1906 and 1921 by the Government of India. It is dedicated to the memory of Queen Victoria, the Empress of India from 1876 to 1901.
</p>   <p>Crowd Percentage: 89%</p>
    <p>Recommaned month[jan,mar,sept]</p>
    
    <div class="location-img">
        <img src="./images/image 2.jpeg" alt="puri imgg">
        
    </div>
 </div>

 <div class="location-detail" id="Indian Musume">
    <h1>Indian Museum Kolkata</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>The history of the origin and the growth of the Indian Museum is one of the remarkable events towards the development of heritage and culture of India. Indian Museum is the earliest and the largest multipurpose Museum not only in the Indian subcontinent... All the details of events & exhibitions held in Indian Museum, Kolkata.</p>
    <p>Crowd Percentage: 67%</p>
    <p>Recommaned month[feb,nov,jan]</p>
   
    <div class="location-img">
        <img src="./images/image 11.jpg" alt="Siridi">
    </div>
 </div>

 <div class="location-detail" id="Government Museum Chennai">
    <h1>Government Museum Chennai
    </h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Government Museum, Chennai is a multi-purpose State Government Museum located in Egmore, which is the heart of the city, spreading to an area of 16.25 acres of land. Six independent buildings in this Museum campus has 46 galleries. 1. Main Building (New Extension Building) Galleries 2. Front Building 3. Bronze Gallery</p>
    <p>Crowd Percentage: 44%</p>
    <p>Recommaned month[feb,sept,aug]</p>
   
    <div class="location-img">
        <img src="./images/image 12.jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Calico Museum Ahmedabad">
    <h1>Calico Museum Ahmedabad</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
    </div>
<p>The Calico Museum of Textiles, under the aegis of the Sarabhai Foundation, is India's premier textile museum. Its collection of Indian textiles is considered by many to be the finest and most comprehensive in the world.</p>    <p>Crowd Percentage: 64%</p>
    <p>Recommaned month[mar,may,dec]</p>

    <div class="location-img">
        <img src="./images/image 13.jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Sikkim Museum">
    <h1>Sikkim  Museum</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Right in the heart of the buzzing city lies this majestic heritage structure showcasing Kerala’s rich cultural legacy. The Napier Museum is an art and natural history museum named after Lord Napier. It is built in an Indo- Saracenic architectural style.</p>
    <p>Crowd Percentage: 20%</p>
    <p>Recommaned month[dec,jul,sept]</p>
    
    <div class="location-img">
        <img src="./images/image 14.jpg" alt="">
    </div>
 </div>
 <div class="location-detail" id="Dr. Bhau Daji Lad Museum Mumbai">
    <h1>Dr. Bhau Daji Lad Museum Mumbai</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Dr Bhau Daji Lad Museum history goes back to 1855 when it was established as the Central Museum of Natural History, Economy, Geology, Industry and Arts. It was opened to the public later, in 1872, with the name Victoria and Albert Museum. It is the oldest museum of Mumbai and among the most important historical sites of the city.</p>    <p>Crowd Percentage: 50%</p>
    <p>Recommaned month[feb,jan,june]</p>
   
    <div class="location-img">
        <img src="./images/image 15.jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Salar Jung Museum Hyderabad">
    <h1>Salar Jung Museum Hyderabad</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
    </div>
<p>Salar Jung Museum of Hyderabad is the third largest museum in India. It was declared open on 16th December, 1951 by the first prime minister of India, Jawaharlal Nehru. In the year of 1968, the entire collection of the museum and the Salar Jung Museum library was shifted to the present building from Diwan Deodi.</p> <p>Crowd Percentage: 30%</p>
    <p>Recommaned month[jan,oct,may]</p>
   
    <div class="location-img">
        <img src="./images/image 16.jpg" alt="">
    </div>
 </div>
 <div class="location-detail" id="jaipur">
    <h1>Jaipur museum</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
    </div>
<p>The City Palace, Jaipur is a royal residence and former administrative headquarters of the rulers of the Jaipur State in Jaipur, Rajasthan. Construction started soon after the establishment of the city of Jaipur under the reign of Maharaja Sawai Jai Singh II, who moved his court to Jaipur from Amber, in 1727</p> <p>Crowd Percentage: 30%</p>
    <p>Recommaned month[jan,oct,may]</p>
   
    
    <div class="location-img">
        <img src="./images/image 16.jpg" alt="">
    </div>
 </div>

 <a href="./register" class="button">Register Now!</a>
    </section>
    
    <!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register">Register</a></li>
                    <li><a href="./about">About Us</a></li>
                    <li><a href="./contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-youtube' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-wordpress' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2022 Mr Traveller All Rights Reserved.<br>Website developed by: Mr Devlopers,GIETU</p>
    </div>
</section>

</body>
</html>
