<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr Traveller</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;300;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <div class="content" id="home" >
        <div class="content" id="home">
            <nav class="navbar navbar-expand-lg navbar-light" style="z-index: 999;">
                <img src="images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">
                <ul class="navbar">
                    <li>
                        <a href="/">Home</a>
                        <a href="/points">Points</a>
                        <a href="/mlocation">Tours</a>
                        <a href="/bookings">Bookings</a>
                        <a href="/abtmuseum">About</a>
                    </li>
                </ul>
            </nav>
            <div class="banner">
                <img src="/images/Main.jpg" alt="Banner Image" title="Banner Image">
            </div>

            <section class="locations" id="locations">
                <div class="package-title">
                    <h2>Entrance Hall</h2>
                </div>

               





                <div class="location-content">
                    <a href="/mlocation#e1">
                        <div class="col-content">
                            <img src="./images/en-1.jpg" alt="Indian Musume" style="height: 300px; width: 330px;">
                            <h5 color="black">Entrance Hall</h5>
                        </div>
                    </a>
                    <a href="/mlocation#e2">
                        <div class="col-content">
                            <img src="./images/en-3.jpg" alt="Puri" style="height: 300px; width: 300px;">
                            <h5>The King George</h5>
                        </div>
                    </a>
                    <a href="/mlocation#e3">
                        <div class="col-content">
                            <img src="./images/en-4.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>H.M. Queen Mary</h5>
                        </div>
                    </a>
                    <a href="/mlocation#e4">
                        <div class="col-content">
                            <img src="./images/ch-2.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Queen Victotia</h5>
                        </div>
                    </a>
                </div>
            </section>
            <section class="locations" id="locations">
                <div class="package-title">
                    <h2>Royal Gallery</h2>
                </div>
                <div class="location-content">
                    <a href="/mlocation#r1">
                        <div class="col-content">
                            <img src="./images/rg-3.jpg" alt="Puri" style="height: 300px; width: 300px;">
                            <h5>Taj Mahal Agra</h5>
                        </div>
                    </a>
                    <a href="/mlocation#r2">
                        <div class="col-content">
                            <img src="./images/rg-4.png" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Prince Wales</h5>
                        </div>
                    </a>
                    <a href="/mlocation#r3">
                        <div class="col-content">
                            <img src="./images/rg-5.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>The Instrument</h5>
                        </div>
                    </a>
                    <a href="/mlocation#r4">
                        <div class="col-content">
                            <img src="./images/rg-6.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Doorga Puja</h5>
                        </div>
                    </a>
                </div>
            </section>
            <section class="locations" id="locations">
                <div class="package-title">
                    <h2>Queen's Hall</h2>
                </div>
                <div class="location-content">
                    <a href="/mlocation#q1">
                        <div class="col-content">
                            <img src="./images/ch-1.jpg" alt="Indian Musume" style="height: 300px; width: 330px;">
                            <h5 color="black">Queen's Hall</h5>
                        </div>
                    </a>
                    <a href="/mlocation#q2">
                        <div class="col-content">
                            <img src="./images/ch-3.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Empire-The Painting</h5>
                        </div>
                    </a>
                    <a href="/mlocation#q3">
                        <div class="col-content">
                            <img src="./images/ch-6.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>The Queen Chair</h5>
                        </div>
                    </a>
                    <a href="/mlocation#q4">
                        <div class="col-content">
                            <img src="./images/ch-7.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Queen's Proclamation</h5>
                        </div>
                    </a>
                </div>
            </section>
            <section class="locations" id="locations">
                <div class="package-title">
                    <h2>Prince Hall</h2>
                </div>
                <div class="location-content">
                    <a href="/mlocation#p1">
                        <div class="col-content">
                            <img src="./images/ph-1.jpg" alt="Indian Musume" style="height: 300px; width: 330px;">
                            <h5 color="black">Prince Hall</h5>
                        </div>
                    </a>
                    <a href="/mlocation#p2">
                        <div class="col-content">
                            <img src="./images/ph-2.jpg" alt="Puri" style="height: 300px; width: 300px;">
                            <h5>French gun</h5>
                        </div>
                    </a>
                    <a href="/mlocation#p3">
                        <div class="col-content">
                            <img src="./images/ph-3.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Charles Wilkins</h5>
                        </div>
                    </a>
                </div>
            </section>
            <section class="locations" id="locations">
                <div class="package-title">
                    <h2>Durbar Hall</h2>
                </div>
                <div class="location-content">
                    <a href="/mlocation#d1">
                        <div class="col-content">
                            <img src="./images/dh-3.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Ganga Ghat</h5>
                        </div>
                    </a>
                    <a href="/mlocation#d2">
                        <div class="col-content">
                            <img src="./images/dh-4.jpg" alt="Varanasi" style="height: 300px; width: 300px;">
                            <h5>Entrance Gate</h5>
                        </div>
                    </a>
                    <a href="/mlocation#d3">
                        <div class="col-content">
                            <img src="./images/dh-5.jpg" alt="Varanasi" style="height: 300px; width: 300px;">
                            <h5>Observatory Delhi</h5>
                        </div>
                    </a>
                    <a href="/mlocation#d4">
                        <div class="col-content">
                            <img src="./images/dh-6.jpg" alt="Varanasi" style="height: 300px; width: 300px;">
                            <h5>Indra Sabha</h5>
                        </div>
                    </a>
                </div>
            </section>
            <section class="locations" id="locations">
                <div class="package-title">
                    <h2>Biplobi Bharat Gallery</h2>
                </div>
                <div class="location-content">
                    <a href="/mlocation#b1">
                        <div class="col-content">
                            <img src="./images/bg-1.jpg" alt="Indian Musume" style="height: 300px; width: 330px;">
                            <h5 color="black">Biplobi Bharat Gallery</h5>
                        </div>
                    </a>
                    <a href="/mlocation#b2">
                        <div class="col-content">
                            <img src="./images/bg-2.jpg" alt="Puri" style="height: 300px; width: 300px;">
                            <h5>Projecter View</h5>
                        </div>
                    </a>
                    <a href="/mlocation#b3">
                        <div class="col-content">
                            <img src="./images/bg-3.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>The Room of Biplobi</h5>
                        </div>
                    </a>
                    <a href="/mlocation#b4">
                        <div class="col-content">
                            <img src="./images/bg-4.jpg" alt="Varanasi" style="height: 300px; width: 300px;">
                            <h5>Projecter Maps</h5>
                        </div>
                    </a>
                </div>
            </section>
            <section class="locations" id="locations">
                <div class="package-title">
                    <h2>Great Indian Reformers Gallery</h2>
                </div>
                <div class="location-content">
                    <a href="/mlocation#g1">
                        <div class="col-content">
                            <img src="/images/L-1.jpg" alt="Indian Musume" style="height: 300px; width: 330px;">
                            <h5 color="black">Raja Rammohun Roy</h5>
                        </div>
                    </a>
                    <a href="/mlocation#g2">
                        <div class="col-content">
                            <img src="/images/L-2.jpg" alt="Puri" style="height: 300px; width: 300px;">
                            <h5>Iswar Chandra Vidyasagar</h5>
                        </div>
                    </a>
                    <a href="/mlocation#g3">
                        <div class="col-content">
                            <img src="/images/L-3.jpg" alt="Indian Musume" style="height: 300px; width: 300px;">
                            <h5>Bankim Chandra Chatterjee</h5>
                        </div>
                    </a>
                    <a href="/mlocation#g4">
                        <div class="col-content">
                            <img src="/images/L-4.jpg" alt="Varanasi" style="height: 300px; width: 300px;">
                            <h5>Mahatma Gandhi</h5>
                        </div>
                    </a>
                </div>
            </section>
</body>

<section class="footer">
    <div class="foot">
        <div class="footer-content">

            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register">Register</a></li>
                    <li><a href="./about">About Us</a></li>
                    <li><a href="./contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-wordpress'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="end">
        <p>Copyright © 2022 Mr Traveller All Rights Reserved.<br>Website developed by: Mr Devlopers,GIETU</p>
    </div>
</section>



</html>